<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>グラフ表示</title>
 <meta name="description" content="ディスクリプションを入力">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 </head>
 <body>

 <article>
 <h1>グラフ一覧</h1>
 <img src="../static/images/graph0.png">
 <img src="../static/images/graph1.png">
 <img src="../static/images/graph2.png">
 <img src="../static/images/graph3.png">
 <img src="../static/images/graph4.png">
 <img src="../static/images/graph5.png">
 <img src="../static/images/graph6.png">
 <img src="../static/images/graph7.png">
 <img src="../static/images/graph8.png">
 <img src="../static/images/graph9.png">
 <img src="../static/images/graph10.png">
 <img src="../static/images/graph11.png">
 <img src="../static/images/graph12.png">

 </body>
</html>
